.favouritesDisplay {
	border: 2px solid rgb(0, 170, 85);
	width: 60%;
	color: whitesmoke;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 70px;
	background-image: linear-gradient(to right, rgb(0, 170, 85), rgb(0, 130, 85));
	/* allows for a smoother transition for the first few items added to favourites */
	/* the div will only have to increase it's height once the favourites extends 
	passed the min height */
	min-height: 500px;
	padding-bottom: 20px;
}

.favouritesList {
	width: 65%;
	background: whitesmoke;
	color: rgb(48, 49, 49);
	margin: 0 auto;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	/* re-centers the text after the remove button was added */
	/* used the browser inspector to find the length needed to re-center */
	padding-left: 36px;
}

.favouritesList:hover {
	color: rgb(48, 49, 49);
}

.favouritesHeading {
	margin: 20px;
	font-weight: bold;
	color: whitesmoke;
}

.favouritesEmpty,
.favouritesAdded {
	padding: 10px;
}

.removeButton {
	border: 0px !important;
	float: right;
	background-color: whitesmoke !important;
}
/* changes the remove icon color when hovering over it */
.removeButton:hover {
	color: red;
}
